@using Cursed.Models.Entities.Authentication;
@model UserData
@{
    ViewData["Title"] = "SingleItem";
}
<h1>Users</h1>
<h2>User: @Model.Login</h2>
<p>@Html.RouteLink("Edit", UserManagmentRouting.GetEditSingleItem, new { key = Model.Login })</p>
<form asp-antiforgery="true" method="post" asp-route="@UserManagmentRouting.DeleteSingleItem">
    <input hidden type="text" name="key" value="@Model.Login" />
    <input type="submit" class="btn btn-dark" value="Delete" />
</form>
<table>
    <tr>
        <td>Login:</td>
        <td>@Model.Login</td>
    </tr>
    <tr>
        <td>Role:</td>
        <td>@Model.RoleName</td>
    </tr>
</table>