@using Cursed.Models.Data.ProductCatalog
@model IEnumerable<ProductCatalogAllVM>
@{
    ViewData["Title"] = "Index";
}

<h1>Product Catalog Index</h1>
<p>@Html.RouteLink("Add", "GetForEditProductCatalogSingle")</p>
<table>
    <thead>
        <tr>
            <td style="text-align:center">Name</td>
            <td style="text-align:center">CAS</td>
            <td style="text-align:center">Type</td>
            <td style="text-align:center"><p>Licensed</p><p>until</p></td>
            <td style="text-align:center"><p>License</p><p>number</p></td>
            <td style="text-align:center"><p>License</p><p>summary</p></td>
            <td style="text-align:center">Used in</td>
            <td style="text-align:center">Contained in</td>
            <td style="text-align:center"><!--for edit/delete button--></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string licenseSummary;
            string bgColor;
            if(item.LicenseRequired)
            {
                if(item.IsValid)
                {
                    licenseSummary = "Valid";
                    bgColor = "green";
                }
                else
                {
                    licenseSummary = "Not valud";
                    bgColor = "red";
                }
            }
            else
            {
                licenseSummary = "Not required";
                bgColor = "grey";
            }
            string govNum = item.GovermentNum != -1 ? item.GovermentNum.ToString() : "---";
            <tr>
                <td style="text-align:center">@item.Name</td>
                <td style="text-align:center">@item.CAS</td>
                <td style="text-align:center">@item.Type</td>
                <td style="text-align:center" bgcolor="@bgColor">@item.Date</td>
                <td style="text-align:center" bgcolor="@bgColor">
                    @if (item.LicenseId != -1)
                    {
                        <p>@govNum</p>
                        <p>@Html.RouteLink("License", "LicensesSingle", new { id = item.LicenseId })</p>
                    }
                    else
                    {
                        @govNum
                    }
                </td>
                <td style="text-align:center" bgcolor="@bgColor">@licenseSummary</td>
                <td style="text-align:center">
                    <p>@item.RecipesCount Recipes</p>
                    @if (item.RecipesCount != 0)
                    {
                        <p>@Html.RouteLink("See All", "ProductCatalogSingle", new { id = item.ProductId })</p>
                    }
                </td>
                <td style="text-align:center">
                    <p>@item.StoragesCount Storages</p>
                    @if (item.RecipesCount != 0)
                    {
                        <p>@Html.RouteLink("See All", "ProductCatalogSingle", new { id = item.ProductId })</p>
                    }
                </td>
                <td style="text-align:center">
                    <p>@Html.RouteLink("Show", "ProductCatalogSingle", new { id = item.ProductId })</p>
                    <p>@Html.RouteLink("Edit", "GetForEditProductCatalogSingle", new { id = item.ProductId })</p>
                    <form asp-antiforgery="true" method="delete" asp-route="ProductCatalogSingle">
                        <input hidden type="number" name="productId" value="@item.ProductId" />
                        <input formmethod="delete" type="submit" class="btn btn-dark" value="Delete" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>