@using Cursed.Models.Data.ProductCatalog
@model IEnumerable<ProductCatalogAllVM>
@{
    ViewData["Title"] = "Index";
}

<h1>Product Catalog Index</h1>

<table>
    <thead>
        <tr>
            <td style="text-align:center">Name</td>
            <td style="text-align:center">CAS</td>
            <td style="text-align:center">Type</td>
            <td style="text-align:center"><p>Licensed</p><p>until</p></td>
            <td style="text-align:center"><p>License</p><p>number</p></td>
            <td style="text-align:center"><p>License</p><p>summary</p></td>
            <td style="text-align:center">Used in</td>
            <td style="text-align:center">Contained in</td>
            <td style="text-align:center"><!--for edit/delete button--></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            item.AttentionColor ??= "#EAEAEA";
            <tr>
                <td style="text-align:center">@item.Name</td>
                <td style="text-align:center">@item.CAS</td>
                <td style="text-align:center">@item.Type</td>
                <td style="text-align:center" bgcolor="@item.AttentionColor">@item.LicensedUntil</td>
                <td style="text-align:center" bgcolor="@item.AttentionColor">@item.GovermentNum</td>
                <td style="text-align:center" bgcolor="@item.AttentionColor">@item.LicenseSummary</td>
                <td style="text-align:center">
                    <p>@item.RecipesCount Recipes</p>
                    @if (item.RecipesCount != 0)
                    {
                        <p>@Html.RouteLink("See All", "ProductCatalogSingle", new { productId = item.ProductId })</p>
                    }
                </td>
                <td style="text-align:center">
                    <p>@item.StoragesCount Storages</p>
                    @if (item.RecipesCount != 0)
                    {
                        <p>@Html.RouteLink("See All", "ProductCatalogSingle", new { productId = item.ProductId })</p>
                    }
                </td>
                <td style="text-align:center">
                    <p>@Html.RouteLink("Show", "ProductCatalogSingle", new { productId = item.ProductId })</p>
                    <p>@Html.RouteLink("Edit", "NewProductCatalogSingle", new { productId = item.ProductId })</p>
                    <form asp-antiforgery="true" method="delete" asp-route="ProductCatalogSingle">
                        <input hidden type="number" name="productId" value="@item.ProductId" />
                        <input type="submit" class="btn btn-default" value="Delete" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>