@using Cursed.Models.Data
@model IEnumerable<ProductCatalogDataModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>CAS</td>
            <td>Type</td>
            <td>Licensed</td>
            <td>License Summary</td>
            <td>Used in</td>
            <td>Contained in</td>
            <td><!--for edit/delete button--></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.CAS</td>
                <td>@item.Type</td>
                @if(item.LicenseRequired==null)
                {
                    <td>---</td>
                    <td>Not required</td>
                }
                else
                {
                    <td>
                        <p>@item.LicensedUntil.ToString()</p>
                        <p>@item.GovermentNum</p>
                    </td>
                    @if(item.LicenseRequired == true)
                    {
                        if(item.LicensedUntil<DateTime.UtcNow)
                        {
                            <td bgcolor="green">Valid</td>
                        }
                        else
                        {
                            <td bgcolor="red">Not Valid</td>
                        }
                    }
                    else
                    {
                        <td>Not required</td>
                    }
                }
                <td>
                    <p>@item.RecipeCount Recipes</p>
                    <p>@Html.RouteLink("See All", "ProductCatalogSingle", new { Id = item.ProductId })</p>
                </td>
                <td>
                    <p>@item.StorageCount Storages</p>
                    <p>@Html.RouteLink("See All", "ProductCatalogSingle", new { Id = item.ProductId })</p>
                </td>
                <td>
                    <form asp-antiforgery="true" method="get" asp-route="changeProductCatalog">
                        <input hidden type="number" name="Id" value="@item.ProductId" />
                        <input type="submit" class="btn btn-default" value="Edit" />
                    </form>
                    <form asp-antiforgery="true" method="delete" asp-route="itemProductCatalog">
                        <input hidden type="number" name="Id" value="@item.ProductId" />
                        <input type="submit" class="btn btn-default" value="Edit" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>