@using Cursed.Models.Data.ProductCatalog
@model ProductCatalogSingleVM
@{
    ViewData["Title"] = "SingleItem";

}
<h1>@Model.Name</h1>
<p>@Html.RouteLink("Edit", "GetForEditProductCatalogSingle", new { id = Model.ProductId })</p>
<p>
    <form asp-antiforgery="true" method="delete" asp-route="ProductCatalogSingle">
        <input hidden type="number" name="productId" value="@Model.ProductId" />
        <input formmethod="delete" type="submit" class="btn btn-dark" value="Delete" />
    </form>
</p>
<table>
    <tr>
        <td><b>Name</b></td>
        <td><b>@Model.Name</b></td>
    </tr>
    <tr>
        <td><b>CAS</b></td>
        <td><b>@Model.CAS</b></td>
    </tr>
    <tr>
        <td><b>Type</b></td>
        <td><b>@Model.Type</b></td>
    </tr>
    <tr>
        <td valign="top"><b>Recipes</b></td>
        <td>
            @if (Model.Recipes.Count > 0)
            {
                foreach (var item in Model.Recipes)
                {
                    <p>@Html.RouteLink(item.Title, "RecipeSingle", new { id = item.Id })</p>
                }
            }
            else
            {
                <p>Empty</p>
            }
        </td>
    </tr>
    <tr>
        <td valign="top"><b>Storages</b></td>
        <td>
            @if (Model.Storages.Count > 0)
            {
                foreach (var item in Model.Storages)
                {
                    <p>@Html.RouteLink(item.Title, "StorageSingle", new { id = item.Id })</p>
                }
            }
            else
            {
                <p>Empty</p>
            }
        </td>
    </tr>
    <tr>
        <td valign="top"><b>Licenses</b></td>
        <td>
            @if (Model.Licenses.Count > 0)
            {
                <table>
                        @foreach (var item in Model.Licenses)
                        {
                            string bgColor = item.IsValid ? "green" : "red";
                            <tr><td bgcolor="@bgColor">@Html.RouteLink($"{item.GovermentNum}: {item.Date.ToShortDateString()}", "LicensesSingle", new { id = item.Id })</td></tr>
                        }
                </table>
            }
            else
            {
                <p>Empty</p>
            }
        </td>
    </tr>
</table>

