@using Cursed.Models.DataModel.Companies

@model Pagenation<CompaniesModel>
@{
    ViewData["Title"] = "Index";
    ViewData["PagenationRouteLink"] = CompaniesRouting.Index;
}
<h1>Companies</h1>
<p>@Html.RouteLink("Add", CompaniesRouting.GetEditSingleItem)</p>
@await Html.PartialAsync("_Pagenation/ItemsOnPageControl", (PagenationAbstract)Model, ViewData)
@await Html.PartialAsync("_Pagenation/PagesControl", (PagenationAbstract)Model, ViewData)
<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Storages</td>
            <td>Transactions</td>
            <td>@*buttons*@</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PagenatedCollection)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.StoragesCount</td>
                <td>@item.TransactionsCount</td>
                <td>
                    <p>@Html.RouteLink("Show", CompaniesRouting.SingleItem, new { key = item.Id })</p>
                    <p>@Html.RouteLink("Edit", CompaniesRouting.GetEditSingleItem, new { key = item.Id })</p>
                    <form asp-antiforgery="true" method="post" asp-route="@CompaniesRouting.DeleteSingleItem">
                        <input hidden type="number" name="key" value="@item.Id" />
                        <input type="submit" class="btn btn-dark" value="Delete" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
@await Html.PartialAsync("_Pagenation/PrevNextControl", (PagenationAbstract)Model, ViewData)