@using Cursed.Models.Data.Licenses
@model LicensesVM
@{
    ViewData["Title"] = "SingleItem";
    string attentionColor;
    string licenseSummary;
    if(Model.IsValid)
    {
        attentionColor = "green";
        licenseSummary = "Valid";
    }
    else
    {
        attentionColor = "red";
        licenseSummary = "Not valid";
    }
}

<h1>License №@Model.GovermentNum</h1>
<p>@Html.RouteLink("Edit", "GetForEditLicensesSingle", new { id = Model.Id })</p>
<form asp-antiforgery="true" method="post" asp-route="DeleteLicensesSingle">
    <input hidden type="number" name="id" value="@Model.Id" />
    <input type="submit" class="btn btn-dark" value="Delete" />
</form>
<table>
    <tr>
        <td>Licensed until:</td>
        <td>@Model.Date</td>
    </tr>
    <tr>
        <td>License number:</td>
        <td>@Model.GovermentNum</td>
    </tr>
    <tr>
        <td>Product name:</td>
        <td>@Html.RouteLink(Model.ProductName, "ProductCatalogSingle", new { id = Model.ProductId })</td>
    </tr>
    <tr>
        <td>Product CAS:</td>
        @if (Model.ProductCAS.HasValue)
        {
            <td>@Html.RouteLink(Model.ProductCAS.Value.ToString(), "ProductCatalogSingle", new { id = Model.ProductId })</td>
        }
        else
        {
            <td>None</td>
        }
    </tr>
    <tr>
        <td>License summary:</td>
        <td bgcolor="@attentionColor">@licenseSummary</td>
    </tr>
</table>