@using Cursed.Models.DataModel.ProductsCatalog
@model ProductCatalogModel
@{
    ViewData["Title"] = "SingleItem";

}
<h1>@Model.Name</h1>
<p>@Html.RouteLink("Edit", ProductsCatalogRouting.GetEditSingleItem, new { key = Model.ProductId })</p>
<form asp-antiforgery="true" method="post" asp-route="@ProductsCatalogRouting.DeleteSingleItem">
    <input hidden type="number" name="key" value="@Model.ProductId" />
    <input type="submit" class="btn btn-dark" value="Delete" />
</form>
<table>
    <tr>
        <td><b>Name</b></td>
        <td><b>@Model.Name</b></td>
    </tr>
    <tr>
        <td><b>CAS</b></td>
        <td><b>@Model.CAS</b></td>
    </tr>
    <tr>
        <td><b>Type</b></td>
        <td><b>@Model.Type</b></td>
    </tr>
    <tr>
        <td valign="top"><b>Recipes</b></td>
        <td>
            @if (Model.Recipes.Count > 0)
            {
                foreach (var item in Model.Recipes)
                {
                    <p>@Html.RouteLink(item.Title, RecipesRouting.SingleItem, new { key = item.Id })</p>
                }
            }
            else
            {
                <p>Empty</p>
            }
        </td>
    </tr>
    <tr>
        <td valign="top"><b>Storages</b></td>
        <td>
            @if (Model.Storages.Count > 0)
            {
                foreach (var item in Model.Storages)
                {
                    <p>@Html.RouteLink(item.Title, StoragesRouting.SingleItem, new { key = item.Id })</p>
                }
            }
            else
            {
                <p>Empty</p>
            }
        </td>
    </tr>
    <tr>
        <td valign="top"><b>Licenses</b></td>
        <td>
            @if (Model.Licenses.Count > 0)
            {
                <table>
                        @foreach (var item in Model.Licenses)
                        {
                            string bgColor = item.isValid ? "green" : "red";
                            <tr><td bgcolor="@bgColor">@Html.RouteLink($"{item.license.GovermentNum}: {item.license.Date.ToShortDateString()}", LicensesRouting.SingleItem, new { key = item.license.Id })</td></tr>
                        }
                </table>
            }
            else
            {
                <p>Empty</p>
            }
        </td>
    </tr>
</table>

